:root {
  --color-blue: #233d4a;
  --color-light-blue: #a8bec9;
  --color-dark-blue: #192a32;
  --color-darker-blue: #112129;
  --color-orange: #f2b237;
  --color-aqua: #31c4be;
  --color-dark-white: #242324;
  --font-weight-regular: 400;
  --border-radius: 1rem;
  --grid-rows: 3;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  font-size: 1.6rem;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* background-color: var(--color-dark-blue); */
  background-size: cover;
  backdrop-filter: blur(5px);
  overflow: hidden;
  font-family: "Cinzel", serif;
}

.container:before {
  content: "";
  position: absolute;
  width: 130%;
  height: 130%;
  opacity: 0.8;

  background: url(images/pattern.jpg);
  background-size: cover;
  filter: blur(35px);
  z-index: -1;
}

.board {
  display: none;
  grid-template-columns: repeat(var(--grid-rows), 100px);
  grid-template-rows: repeat(var(--grid-rows), 100px);
  gap: 1.5rem;
}

.cell {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 3em;
  color: var(--color-aqua);
  background-color: var(--color-blue);
  border-radius: var(--border-radius);
  isolation: isolate;
  font-family: "Cinzel", serif;
}

.cell--X {
  color: var(--color-aqua);
}

.cell--O {
  color: var(--color-orange);
}

.value {
  z-index: 1;
  user-select: none;
  display: none;
}

.cell:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: -0.4rem;
  border-radius: calc(var(--border-radius) / 2);
  background-color: var(--color-darker-blue);
}

.cell:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: calc(var(--border-radius) / 2);
  background-color: var(--color-blue);
  transition: all 0.3s;
}
.cell--win:after {
  background-color: yellow;
}

.cell--win {
  background-color: yellow;
}

.button:hover {
  border: 0;
  color: white;
  background-color: var(--color-aqua);
  transition: all 0.5s;
}

.button {
  display: inline;
  cursor: pointer;
  background: none;
  outline: none;
  font-family: "Cinzel", serif;
  font-weight: 700;
  border: 1px solid var(--color-aqua);
  border-radius: calc(var(--border-radius) / 4);
  padding: 0.4rem 0.8rem;
  color: var(--color-aqua);
  font-size: 15px;
}

.welcome {
  font-size: 3em; /* Increased font size */
  margin-bottom: 1em;
  padding: 10px;
  border-radius: 10px;
  background: radial-gradient(
    circle,
    rgba(13, 8, 96, 1) 0%,
    rgba(9, 9, 121, 1) 21%,
    rgba(6, 84, 170, 1) 51%,
    rgba(0, 255, 113, 1) 100%
  );
  font-weight: 900;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

h2 {
  font-size: 2em;
  font-weight: 900;
  margin-bottom: 0.5em;
  padding: 10px; /* Add padding */
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add box shadow */

  background: radial-gradient(
    circle,
    rgba(13, 8, 96, 1) 0%,
    rgba(9, 9, 121, 1) 21%,
    rgba(6, 84, 170, 1) 51%,
    rgba(0, 255, 113, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.level {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
}
.level__button {
  font-family: "Cinzel", serif;
  font-size: 1.2em;
  padding: 0.5em 1em;
  margin: 0 0 4em 0;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.level__button:hover {
  background-color: #338637;
}
.active {
  background-color: #338637;
}

.levels {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
}
#change__level {
  margin-bottom: 1rem;
  display: none;
}
#reset {
  margin: 20px auto 0 auto;
  display: none;
}
.footer {
  position: absolute;
  margin: 700px 0 0 0;
  font-size: 20px;
  font-family: "Dancing Script", cursive;
}
a {
  color: var(--color-dark-white);
  font-weight: var(--font-weight-regular);
  text-decoration: none;
}

/* Responsive For Mobile */
@media (max-width: 1000px) {
  .board {
    grid-template-columns: repeat(var(--grid-rows), 160px);
    grid-template-rows: repeat(var(--grid-rows), 180px);
  }
  .welcome {
    font-size: 5em;
  }
  h2 {
    font-size: 4em;
    margin-bottom: 1em;
  }
  .button {
    font-size: 40px;
  }
  #reset {
    margin-top: 2em;
  }
  #change__level {
    margin: 0 0 1em 0;
  }
  .level__button {
    font-size: 2em;
    margin: 0 0 2em 0;
  }
  .cell {
    font-size: 6em;
  }
  .footer {
    margin: 1600px 0 0 0;
    font-size: 40px;
  }
}
